

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
    background-size: cover; 
}


header .logo-socials {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 1em;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: tan; */
}

header .logo-socials #rr-logo {
    width: 15em;
}

header .logo-socials .navbar {
    margin-left: 5em;
}

header .navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
}

header .navbar ul li {
    margin: 0px 5px;
    display: flex;
    align-items: center;
}

header .navbar ul img {
    width: 1.5em;
    height: auto;
    margin-right: 1.2em;
    margin-left: 0.5em;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

header .navbar ul li:hover {
    cursor: pointer;
    color: #a02523;
}

header .navbar ul li:hover img {
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    /* transform: scale(1, 1); */
    transform: rotate(-1deg);
    transition: transform .3s ease-in-out;
}

header .logo-socials .socials {
    display: flex;
    flex-wrap: nowrap;
}

header .logo-socials .logo {
    width: 1.5em;
    height: auto;
    margin: 0 7px;
}

/* Banner */
/* Banner */
/* Banner */

.banner {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.816)),
    url('images/banner1.jpg');
    height: 35em;
    display: flex;
    justify-content: center;
    filter: brightness(1.35);
}

.banner #banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-size: 1.2em;
    margin-bottom: 10px;
}

.banner #banner-text h1 {
    margin-bottom: 10px;
    font-size: 1.7em;
}

.banner #banner-text p {
    font-size: 0.9em;
    font-weight: 300;       
}

/* Button */
/* Button */
/* Button */

nav{
    /*   float: none;  */
    /*   clear: both; */
      width: 25%; 
      margin: 1em auto;
      background: #eee;
    }
    
    nav ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }
      
    nav li a{
      display: block; 
      /* width: 2em;  */
      padding: 10px 1px; 
      border-left: 5px solid; 
      position: relative; 
      z-index: 2;
      text-decoration: none;
      color: #444;
      box-sizing: border-box;  
      -moz-box-sizing: border-box;  
      -webkit-box-sizing: border-box; 
    }
        
    nav li a:hover{ border-bottom: 0px; color: #fff;}
    nav li:first-child a{ border-left: 10px solid #a02523; }
    
    nav li a:after { 
      content: "";
      height: 100%; 
      left: 0; 
      top: 0; 
      width: 0px;  
      position: absolute; 
      transition: all 0.3s ease 0s; 
      -webkit-transition: all 0.3s ease 0s; 
      z-index: -1;
    }
    
    nav li a:hover:after{ width: 100%; }
    nav li:first-child a:after{ background: #a02523; }
    
   /* Load Animation Banner */
   /* Load Animation Banner */
   /* Load Animation Banner */
   /* Load Animation Banner */

   .overflow {
    overflow: hidden;
   }

   #banner-text {
    animation: drop-in 2s ease 200ms backwards;
   }

   @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-10px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }

/* banner subinfo */
/* banner subinfo */
/* banner subinfo */
/* banner subinfo */
/* banner subinfo */
/* banner subinfo */

#banner-info-border {
    border-top: 0.1px solid rgba(255, 255, 255, 0.521);
    transform: translatey(7em);
    width: 80vw;
    color:transparent
}

#banner-subinfo {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    transform: translateY(5em);
    list-style: none;
    text-transform: none;
}

#banner-subinfo li {
    font-size: 14px;
    padding: 3em 2em;
}

#banner-subinfo li i {
    padding-bottom: 0.3em;
    font-size: 3em;
}

.contact-form {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10em;
    justify-content: center;
    align-items: center;
    background-color: #cbcbcb;
    margin-top: 0.4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.contact-form h1 {
    text-align: right;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-right: 1em;
}

.contact-form form {
    display: flex;
}

.label-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7em;
}

.label-input input {
    border: 1px solid #8e8e8e;
    height: 1.9em;
    background-color: #d8d8d8;
    border-radius: 7px;
}

.contact-form form button {
    width: 8em;
    height: 1.9em;
    border-radius: 7px;
    align-self: center;
    transform: translateY(6px);
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 0.8em;
    margin-left: 1.5em;
    text-transform: uppercase;
}

.contact-form form button:hover {
    cursor: pointer;
    background-color: #a02523
}
